Barbiere_WCF_Client/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56603/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56603/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IService1_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UserChecker_InputMessage">
    <wsdl:part name="parameters" element="tns:UserChecker" />
  </wsdl:message>
  <wsdl:message name="IService1_UserChecker_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserCheckerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBooking" />
  </wsdl:message>
  <wsdl:message name="IService1_AddBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewBooking" />
  </wsdl:message>
  <wsdl:message name="IService1_ViewBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PasswordRecovery_InputMessage">
    <wsdl:part name="parameters" element="tns:PasswordRecovery" />
  </wsdl:message>
  <wsdl:message name="IService1_PasswordRecovery_OutputMessage">
    <wsdl:part name="parameters" element="tns:PasswordRecoveryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UserPasswordChange_InputMessage">
    <wsdl:part name="parameters" element="tns:UserPasswordChange" />
  </wsdl:message>
  <wsdl:message name="IService1_UserPasswordChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserPasswordChangeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Registration" message="tns:IService1_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegistrationResponse" message="tns:IService1_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserChecker">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserChecker" message="tns:IService1_UserChecker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserCheckerResponse" message="tns:IService1_UserChecker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddBooking" message="tns:IService1_AddBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddBookingResponse" message="tns:IService1_AddBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ViewBooking" message="tns:IService1_ViewBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ViewBookingResponse" message="tns:IService1_ViewBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PasswordRecovery">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PasswordRecovery" message="tns:IService1_PasswordRecovery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PasswordRecoveryResponse" message="tns:IService1_PasswordRecovery_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserPasswordChange">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserPasswordChange" message="tns:IService1_UserPasswordChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserPasswordChangeResponse" message="tns:IService1_UserPasswordChange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IService1/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserChecker">
      <soap:operation soapAction="http://tempuri.org/IService1/UserChecker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBooking">
      <soap:operation soapAction="http://tempuri.org/IService1/AddBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewBooking">
      <soap:operation soapAction="http://tempuri.org/IService1/ViewBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordRecovery">
      <soap:operation soapAction="http://tempuri.org/IService1/PasswordRecovery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserPasswordChange">
      <soap:operation soapAction="http://tempuri.org/IService1/UserPasswordChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:56603/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>